<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    <!-- SEARCH AND LIST EXAMPLE -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h2></h2>
            </widget-cell>
        </widget-row>

        <widget-search label="What restaurant are you looking for?" placeholder="Type in a restaurant name" search-results-title="Search Results" data="model" min-char="0" fields="['title','details']">
            <widget-filter fields="['foodType']" filters="[{value:'Eastern',text:'Eastern'},{value:'Western',text:'Western'}]">

            </widget-filter>

            <widget-searching>
                <widget-list list="item in searchResults" show-items="3">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell fill>{{item.title}} &#9733{{item.ratings}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-searching>

            <widget-not-searching>
                <widget-row>
                    <widget-cell>
                        <h2>Restaurant List</h2>
                    </widget-cell>
                </widget-row>
                <widget-list list="item in model" show-items="3">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell class="main" fill>{{item.title}} <span style="color:yellow">&#9733</span> {{item.ratings}}   <img class ="icon2" ng-src="{{item.icon}}"/> <img class ="icon2"ng-src="{{item.flavor}}"/></widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-not-searching>
        </widget-search>
    </div>



    <!-- Menu template -->
    <script type="text/ng-template" id="widgetMenu.html">
        <li>
            <a ng-click="menuButtonClick()">
            Logout
        </a>
        </li>
    </script>

    <!-- VIEW FOR THE SEARCH AND LIST EXAMPLE -->
    <script type="text/ng-template" id="details.html">
        <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Item" next-text="Next Item"></widget-list-controls>
        <widget-row>
            <widget-cell>
                <h2 class ="header">{{item.value.title}}</h2>
            </widget-cell>
        </widget-row>
        <iframe ng-src="{{item.value.mapurl}}" width=600px height=450px></iframe>
        <widget-row>
            <widget-cell>
                <p>Address: {{item.value.address}}</p>
                <p>Style: {{item.value.style}}</p>
                <p>Ratings: <span style="color:yellow">&#9733</span>{{item.value.ratings}}</p>
                
            </widget-cell>
        </widget-row>
        <div ng-if="dbData.value.status">
            <widget-row>
                <widget-cell>
                    <div class="pDetails" ng-if="dbData.value.status=='noTable'">
                        Table does not exist,
                        <a ng-click="createTable()">create table</a>.
                    </div>
                </widget-cell>
            </widget-row>
        </div>
        <div ng-if="!dbData.value.status">
            <widget-row>
                <widget-cell>
                    <form class="form-inline" ng-submit="insertData(item)">
                        <div class="input-group" style="width: 100%;">
                            <input type="text" id="userInput" class="form-control" ng-model="insertValue.value" placeholder="Enter your comment and submit" />
                            <span class="input-group-btn" style="overflow:hidden;">
                                <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;"></button>
                            </span>
                        </div>
                    </form>
                </widget-cell>
            </widget-row>

            <widget-row ng-repeat="item in dbData.value">
                <widget-cell>
                    <div class="pDetails">UW ID: {{item.userId}}</div>
                    <div class="pDetails">Comment: {{item.value}}</div>
                </widget-cell>
            </widget-row>
        </div>
    </script>